.about{
    text-align: center;
    background-image: url("images/sheep13.jpg");
    background-size: cover;
    background-position: center;
    height:700px;
    text-align: center;
    color: white;
    font-size: 35px;
    
}
.mission{
    text-align: center;
    font-size: 35px;
    background-image: url("images/cow2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 700px;
    color:white;
    
    
}
.vision{
    text-align: center;
    font-size: 35px;
    background-image: url("images/lucia-macedo-4gyYf1ItdHI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 700px;
    color:white;
    
}
.values{
    text-align: center;
    font-size: 35px;
    background-image: url("images/hen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 700px;
    color: white;
    
}

.statements h2{
    color: rgba(23, 63, 16, 1);
}
.logo{
    height: 50px;
    width: 50px;
    color: green;
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 850px;
}
.head{
    white-space: nowrap;
    text-align: center;
    margin-bottom: 200px;
    color:rgba(59, 186, 38, 1) ;
}
 .nav{
    display: flex;
    margin-left: 750px;
    margin-top: -200px;
    color:rgba(59, 186, 38, 1) ;
    /* line-height: -50px; */
    text-decoration: none;
}
.button{
    display: flex;
    justify-content:end;
    margin-right: 150px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    margin: 20px;
    margin-bottom: 20px;
}

.footer2{
    /* display: flex;   */
    /* justify-content: space-between; */
    color: rgba(59, 186, 38, 1);
    font-size: x-large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    /* width: 1350px; */
    height: 70px;
    background-color: black;
    padding:70px;
    /* position: fixed; */
    /* text-align: center; */
    /* padding-top: 10px; */
    display: flex;
    justify-content: space-between;
}
.pic{
    /* display: flex; */
    margin-left: 4px;
    cursor: pointer;
    /* justify-content: space-between; */
    /* padding: 20px; */
}

.footer{
    display: flex;
    justify-content: space-between;
}
.pic a{
    margin-left: 20px;
}

.terms{
    font-size: larger;
    margin-left: 16px;
    /* margin-top: 10px; */
}


