.about{
    text-align: center;
    background-image: url("images/luca-basili-0vVQWN_D26c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height:500px;
    text-align: center;
    color: white;
    font-size: 30px;
    
}
.statements{
    
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
}
.statements h2{
    color: rgba(23, 63, 16, 1);
}
.logo{
    height: 50px;
    width: 50px;
    color: green;
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 850px;
}
.head{
    white-space: nowrap;
    text-align: center;
    margin-bottom: 200px;
    color:rgba(59, 186, 38, 1) ;
}
 .nav{
    display: flex;
    margin-left: 750px;
    margin-top: -200px;
    color:rgba(59, 186, 38, 1) ;
    /* line-height: -50px; */
    text-decoration: none;
}
.button{
    display: flex;
    justify-content:end;
    margin-right: 150px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    margin: 20px;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    color: rgba(59, 186, 38, 1);
}
.footer2{
    /* display: flex;   */
    /* justify-content: space-between; */
    color: rgba(59, 186, 38, 1);
}
.pic{
    display: flex;
    margin-right: 70px;
    cursor: pointer;
}
.final{
    display: flex;
    justify-content: space-between;
}
