.contact{
    display: flex;
    justify-content: space-between;
    background-image: url("images/sheepcontacts.jpg");
    background-size: cover;

}
.form{
    font-size: 30px;
    margin-top: 40px;
    width:35%;
    margin-right: 40px;
    
    

}
#name{
    height:30px;
    width: 100%;
}
#email{
    height:30px;
    width: 100%;
}
#message{
    height:80px;
    width: 100%;
}
#submit{
    padding: 15px 40px 15px 40px;
    border-style: none;
    background-color: rgba(59, 186, 38, 1);
    font-size: large;
}
.contactleft{
    margin-top: 30px;
    padding-left: 40px;
    
}
.contactleft>p{
    font-size: 20px;
}