.logo{
    height: 50px;
    width: 50px;
    color: green;
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 380px;
}
.head{
    white-space: nowrap;
    text-align: center;
    margin-bottom: 200px;
    color:rgba(59, 186, 38, 1) ;
}
 .nav{
    display: flex;
    margin-left: 290px;
    margin-top: -200px;
    color:rgba(59, 186, 38, 1) ;
    /* line-height: -50px; */
    text-decoration: none;
}
.button{
    display: flex;
    justify-content:end;
    margin-right: 150px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    margin: 20px;
    margin-bottom: 20px;}
.menu {
    text-align: center;
}
.container{
    display: flex;

}
.head1{
    text-align: center;
}

.one, .two, .three{
    background-color: rgba(196, 196, 196, 1);
    text-align: left;
    width: 50%; height: 400px; border-radius: 20px;
    margin: 20px;
    box-shadow:  0 6px 15px 0 rgba(0, 0, 0, 0.1);
}
.container img{
    height: 50%;
    width: 85%; padding: 20px;
    background-size: cover;
}
 .price.cart{
    display:flex;


}


.one .cart img, .two .cart img, .three .cart img{
  
    position: relative;
    width: 40px;
    height: 40px;
    left: 170px;
    top:-60px;

}
.footer{
    display: flex;
    justify-content: space-between;
    color: rgba(59, 186, 38, 1);
}
.footer2{
    /* display: flex;   */
    /* justify-content: space-between; */
    color: rgba(59, 186, 38, 1);
}
.pic{
    display: flex;
    margin-right: 70px;
    cursor: pointer;
}
.final{
    display: flex;
    justify-content: space-between;
}
