.logo{
    height: 50px;
    width: 50px;
    color: rgba(59, 186, 38, 1) ;
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 380px;
}
.head{
    white-space: nowrap;
    text-align: center;
    margin-bottom: 200px;
    color:rgba(59, 186, 38, 1) ;
}
 .nav{
    display: flex;
    margin-left: 250px;
    margin-top: -200px;
    color:rgba(59, 186, 38, 1) ;
    /* line-height: -50px; */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.button{
    display: flex;
    justify-content:end;
    margin-right: 150px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    margin: 20px;
    margin-bottom: 20px;}
.menu {
    text-align: center;
}
.container{
    display: flex;
    margin-left: 40px;

}
.head1{
    text-align: center;
}
.one, .two, .three{
    background-color: rgba(59, 186, 38, 1);
    color: rgb(0, 0, 0);
    text-align: left;
    width: 30%; height: 300px; border-radius: 20px;
    margin: 30px;
    box-shadow:  0 6px 15px 0 rgba(1, 1, 1, 0.1);
}
.cow{
    margin: 5px;
}
.container img{
    height: 40%;
    width: 85%; padding: 10px;
    background-size: cover;
}
 .price.cart{
    display:flex;
}
.one .cart img, .two .cart img, .three .cart img{
  
    position: relative;
    width: 20px; border-radius: 20px;
    background-color: white;
    height: 20px;
    left: 120px;
    top:-50px;

}

.footer2{
    /* display: flex;   */
    /* justify-content: space-between; */
    color: rgba(59, 186, 38, 1);
    font-size: large;
}
.pic{
    display: flex;
    margin-right: 70px;
    cursor: pointer;
}
.final{
    display: flex;
    justify-content: space-between;
}
